<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('head.ejs') %>
    <script src="https://global.oktacdn.com/okta-signin-widget/6.0.1/js/okta-sign-in.min.js" type="text/javascript"></script>
    <link href="https://global.oktacdn.com/okta-signin-widget/6.0.1/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" id="themeStyle" href="/css/okta-theme-background.css">
</head>
<body>
 
    <main>
      <div class="container">
        <div class="layout-buttons mt-20 row justify-content-center">
          <button type="button" class="btn btn-primary btn-lg mr-5 default-theme-btn">Default Theme</button>
          <button type="button" class="btn btn-primary btn-lg mr-5 background-theme-btn">Background</button>
          <button type="button" class="btn btn-primary btn-lg mr-5 dark-theme-btn">Dark Theme</button>
          <button type="button" class="btn btn-primary btn-lg mr-5 minimal-theme-btn">Minimal Theme</button>
        </div>
      </div>
      <div id="app-container"></div>
      <input type="hidden" value="<%= csrfToken %>" id="csrfToken"> 
      <input type="hidden" name="baseUrl" value="<%= baseUrl %>" id="baseUrl">
      <input type="hidden" name="issuer" value="<%= issuer %>" id="issuer">
      <input type="hidden" name="redirectUri" value="<%= redirect_uri %>" id="redirectUri">
    </main>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom-login.js"></script>
</body>
</html>