<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ('header.ejs') %> 
    <main>
        <div class="container page-wrapper">
            <h1>Profile</h1>
            <hr>
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <div class="card-block">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</a>
                                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                                <%if(process.env.IDNOW=="true"){%> 
                                <a class="nav-link" id="v-pills-id-proofing-tab" data-toggle="pill" href="#v-pills-id-proofing" role="tab" aria-controls="v-pills-id-proofing" aria-selected="false">ID Proofing</a>
                                <%}%>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card">
                        <div class="card-block">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profiel-tab">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                          <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Userinfo
                                              </button>
                                            </h2>
                                          </div>
        
                                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body"> 
                                            <%for (var attribute in user){%>
                                                <article class="d-flex justify-content-between align-items-center article-inline">
                                                    <div class="attribute w30"><%=attribute%></div>
                                                    <div class="value w60"><%=user[attribute]%></div>
                                                </article>
                                            <%}%>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="card-header" id="headingTwo">
                                            <h2 class="mb-0">
                                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Tokens
                                              </button>
                                            </h2>
                                          </div>
                                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <%for (var attribute in tokens){%>
                                                    <article class="d-flex justify-content-between align-items-center article-inline">
                                                        <div class="attribute w30"><%=attribute%></div>
                                                        <div class="value w60"><%=tokens[attribute]%></div>
                                                    </article>
                                                <%}%>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="card-header" id="headingThree">
                                            <h2 class="mb-0">
                                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Access Token Parsed
                                              </button>
                                            </h2>
                                          </div>
                                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body">
                                              <input type="hidden" name="token" value="<%= tokens['access_token'] %>" id="access_token">
                                              <pre class="accessTokenParsed"></pre>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="card-header" id="headingFour">
                                            <h2 class="mb-0">
                                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                ID Token Parsed
                                              </button>
                                            </h2>
                                          </div>
                                          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                            <div class="card-body">
                                              <input type="hidden" name="token" value="<%= tokens['id_token'] %>" id="id_token">
                                              <pre class="idTokenParsed"></pre>
                                            </div>
                                          </div>
                                        </div>
                                      </div>  
                                      <div class="card-block">
                                        <a href="https://token.dev/#<%= tokens['access_token'] %>" target="_blank"><button type="button" class="btn btn-outline-success">Verify access token on token.dev</button></a>
                                        <a href="https://token.dev/#<%= tokens['id_token'] %>" target="_blank"><button type="button" class="btn btn-outline-success">Verify id token on token.dev</button></a>
                                      </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                    <form class="update-settings-form">
                                        <input type="hidden" name="sub" value="<%= user.sub %>" id="sub">
                                        <div class="form-group row">
                                          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                                          <div class="col-sm-10">
                                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="<%= user.preferred_username %>">
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                          <label for="inputLastname" class="col-sm-2 col-form-label">Lastname</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputLastname" value="<%= user.family_name %>">
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputFirstname" class="col-sm-2 col-form-label">Firstname</label>
                                            <div class="col-sm-10">
                                              <input type="text" class="form-control" id="inputFirstname" value="<%= user.given_name %>">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputMFA" class="col-sm-2 col-form-label">MFA</label>
                                            <div class="col-sm-10">
                                              <input type="checkbox" data-toggle="toggle" data-onstyle="primary" class="form-control" id="inputMFA" data-width="75">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputTerms" class="col-sm-2 col-form-label">Terms and Services</label>
                                            <div class="col-sm-10">
                                              <input type="checkbox" data-toggle="toggle" data-onstyle="primary" class="form-control" id="inputTerms" data-width="75">
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </form>
                                </div>
                                <%if(process.env.IDNOW=="true"){%> 
                                <input type="hidden" name="idnow" id="idnow" value="true">
                                <div class="tab-pane fade" id="v-pills-id-proofing" role="tabpanel" aria-labelledby="v-pills-id-proofing-tab">
                                  <form class="verification-form">
                                    <div class="form-group row">
                                      <label for="inputVerificationStatus" class="col-sm-2 col-form-label">Verification Status</label>
                                      <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="inputVerificationStatus" value="">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label for="inputVerificationID" class="col-sm-2 col-form-label">Verification ID</label>
                                      <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="inputVerificationID" value="">
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-2 verificationSubmit">Start verification process</button>
                                  </form>
                                </div>
                                <%}%>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap4-toggle.min.js"></script>
    <script src="/js/profile.js"></script>
</body>
</html>