<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('head.ejs') %>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
</head>
<body>
    <%- include ('header.ejs') %> 
    <main>
        <div class="container sight-container">
            <h1><%= pageTitle %></h1>
            <hr>
            <img src="<%= imageURL %>" alt="<%= pageTitle %>">
            <hr>
            <p class="date"><%= date %></p>
            <hr>
            <p class="text"><%= text %></p>
            <div class="map"></div>
        </div>
    </main>

    <script src="/js/maps.js"></script>
</body>
</html>